@font-face { 
    font-family: Oxygen-Regular, sans-serif;
    src: url(../assets/fonts/Oxygen-Regular.ttf);
}     

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2E3B6;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.bg-negro-antojitos {
    background-color: #0D0D0D;
}

h1, .h3, span, .footer-span {
    font-family: Oxygen-Regular, sans-serif;
    font-weight: bold;
}
 
h2, h4, p, label {
    font-family: Oxygen-Regular, sans-serif;
}

h1, h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}   

.shadow {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5)
}

.menu-grid {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    width: 100%;
    height: auto;
    align-items: center;
}

article div img {   
    width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .menu-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }
}

@media screen and (min-width: 360px) and (max-width: 767px) { 
    .menu-grid {
        grid-template-columns: 1fr;    
        grid-template-rows: 1fr 1fr 1fr;
    }
}

.grid-containers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: 
    "p p p img1"
    "img2 img3 img4 aside" ;
    column-gap: .5em;
    row-gap: .4em;
}   

.p { 
    grid-area: p;
    background-color: lightcoral;
    align-self: center;
    padding: 20px 20px;
}

.img1 {
    grid-area: img1;
    background-color: lightcyan;
}

.img2 {
    grid-area: img2;
    background-color: lightgoldenrodyellow;
}

.img3 {
    grid-area: img3;
    background-color: lightgray;
}

.img4 {
    grid-area: img4;
    background-color: lightgreen;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .grid-containers {
        grid-template-columns: 2;
        grid-template-rows: auto;
        grid-template-areas: 
        "p p img1 img1"
        "p p img1 img1"
        "img2 img2 img2 img2"
        "img3 img3 img4 img4";
    }
}

@media screen and (min-width: 360px) and (max-width: 767px)  {
    .grid-containers {
        grid-template-columns: 1;
        grid-template-rows: auto;
        grid-template-areas: 
        "p p p p"
        "img1 img1 img1 img1"
        "img2 img2 img2 img2"
        "img3 img3 img3 img3"
        "img4 img4 img4 img4" ; 
    }
}

.article-horario, .article-ubicacion {
    padding-left: 1rem;
    padding-right: 1rem;
}

.h3, .pu {
    text-align: center;
}

.horario-ubicacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.p-underline {
    text-decoration: underline;
    margin-bottom: .4em;
    margin-top: .4em;
}

.p-margin {
    margin-top: 2em;
}

label {
    display: block;
    margin-top: .2em;
    font-weight: bold;
}

.div-form {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

form {
    padding-left: 1rem;
    padding-right: 1rem;
}

fieldset {
    border: 1px groove !important;
    border-color: #0D0D0D !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    margin-top: 30px !important;
  }
  
  legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    margin-top: -15px;
    background-color: #F2E3B6;
    color: black;
  }

/* .button-pedido {
    display: block;
    margin-top: 1em;
    background-color: #0D0D0D;  
    color: #F2F2F2;
    border-radius: 1em;
    cursor: pointer;
    margin-left: 7em;
    width: 10em;
    height: 2em;
    transition: all 2s;
}

.button-pedido:hover, .button-contacto:hover {
    opacity: 0.9;
    font-weight: bold;
    height: 3em;
} */

.button-pedido {
    background-color: #0D0D0D!important;
}

.button-pedido:active, .button-contacto:active {
    border-style: solid;
    border-width: .2em;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.859);
}

/* .button-contacto {
    display: block;
    margin-top: 1em;
    background-color: #0D0D0D;
    color: #F2F2F2;
    border-radius: 2em;
    width: 6em;
    height: 2em;
    margin-left: 9em;
    transition: height 2s;  
} */

.arrow {
    margin-left: 30%;
    position: relative;
    animation-name: arrow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
  }

@keyframes arrow {
    0%   {top:0px;}
    25%  {top:10px;}
    50%  {top:20px;}
    75%  {top:10px;}
    100% {top:0px;}
  }

.envelope {
    text-align: center;
    animation-name: envelope;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
}

@keyframes envelope {
    0%   {background-color: red; } 
    25%  {background-color: yellow;}
    50%  {background-color: blue; }
    75%  {background-color: violet; }
    100% {background-color: green; }
}

.gps {
    animation-name: gps;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
}

@keyframes gps {
    0%   {transform: translatex(350px)}
    25%  {transform: translatex(250px)}
    50%  {transform: translatex(350px)}
    75%  {transform: translatex(450px)}   
    100% {transform: translatex(350px)}
}

.arrow-down {
    animation-name: down;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
  }

@keyframes down {
    0%   {transform: translatey(0px)}
    25%  {transform: translatey(10px)}
    50%  {transform: translatey(20px)}
    75%  {transform: translatey(10px)}   
    100% {transform: translatey(0px) }
}

.parallax {
    background-image: url(../assets/img/parallax.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment:fixed;
    height: 45vh;
}

.gradient {
    background-image: radial-gradient(circle, #F2E3B6, #0f0f0f94, #0f0f0f);
}

.wapp-button {
    width: 4rem;
    height: 4rem;
    position: fixed;
    background-color: green;
    bottom: 2rem;
    right: 1rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wapp-icon {
    width: 3rem;
    height: 3rem;
    background-color: green;
    border-radius: 3rem;
    color: #F2F2F2;
}

footer {
    background-color: #0d0d0d;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
}

.footer__informacion-a:hover, .footer__redes-a:hover {
    opacity: 0.9;
    color: #f2e3b6ac;
}

.footer__informacion-a:active, .footer__redes-a:active {
    opacity: 0.9;
    color: #f2e3b6ac;
}

.footer-cosas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-informacion, .footer-redes {
    display: flex;
    flex-direction: column;     
    align-items: center;
}

.footer__informacion-a, .footer__redes-a {
    text-decoration: none;
    color: #F2F2F2;
    font-size: .8em;
    font-family: Oxygen-Regular, sans-serif;
}

.footer-span {
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.copyright-texto {
    color: #F2F2F2;
    text-align: center;
    font-family: Oxygen-Rgular, sans-serif;
    margin: 0px;
    margin-top: .5rem;
}

/* 
.grid-container-menu {
    font-size: 1.5rem;
    text-align: center;
    height: 100vh;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "header header header header"
    "main main main aside"
    "main main main aside"
    "article1 article2 article3 aside"
    "article1 article2 article3 aside"
    "section section section section"
    "footer footer footer footer" ;
    column-gap: .5em;
    row-gap: .4em;
}

.img1 {
    grid-area: header;
    background-color: lightblue;
}

.main { 
    grid-area: main;
    background-color: lightcoral;
}

.aside {
    grid-area: aside;
    background-color: lightcyan;
}

.article1 {
    grid-area: article1;
    background-color: lightgoldenrodyellow;
}

.article2 {
    grid-area: article2;
    background-color: lightgray;
}

.article3 {
    grid-area: article3;
    background-color: lightgreen;
}

.section {
    grid-area: section;
    background-color: lightpink;
}

.img8 {
    grid-area: footer;
    background-color: lightslategray
}

@media screen and (min-width: 577px) and (max-width: 920px) {
    .grid-container-menu {
        grid-template-columns: 2;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header main main"
        "header header main main"
        "header header main main"
        "aside aside article1 article1"
        "aside aside article1 article1"
        "article2 article2 article3 article3"
        "article2 article2 article3 article3"
        "section section section section"  
        "footer footer footer footer" ;
    }
}

@media screen and (max-width: 576px) {
    .grid-container-menu {
        grid-template-columns: 1;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header header"
        "main main main main"
        "aside aside aside aside"
        "article1 article1 article1 article1"
        "article2 article2 article2 article2"
        "article3 article3 article3 article3"
        "section section section section"
        "footer footer footer footer" ;
    }
} */
